# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
Server/build/server
Server/build/server_host
Server/build/server_test
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Coverage reports
Server/build/hostcovobjs
Server/build/coverage

# Debug files
*.dSYM/

# GVIM files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# Optimized python files
*.pyc
